
@media only screen and (max-width: 600px) {
  /* Styles for mobile phones */
 
.fade-in {
  animation: fadeIn 0.5s ease-in-out;
  background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.fade-in:hover {
  transform: scale(1.01);
}

/* Fade In Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Radio Button Styling */
.label {
  display: block;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid green;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  width: 100%;
}

.label.selected {
  border:0px;
    outline: none;
  background-color: green;
  color: white;
  font-weight: bold;
  transform: scale(1.02);
  box-shadow: 0 0 10px green;
}
.animal-bg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: flex-start;
    animation: bounceIn 0.6s ease-out;
}
.score-display {
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  color: #28a745;
  animation: bounceIn 0.6s ease-out;
  font-weight: bold;
  font-family: cursive;
}
.options-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.back-button{

    animation: bounceIn 0.6s ease-out;
}
.result-card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bounceIn 0.6s ease-out;
}
.quation{
    font-size: 14px;
    font-weight: bold;
}
.previous-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  padding: 10px 20px;
  color: #444;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
/* On click "pop" effect */
.previous-button:active {
  transform: scale(0.95);
  color: red;
}
.submit-button {
  background: linear-gradient(to right, #06beb6, #48b1bf);
  color: white;
  font-size: 18px;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  animation: bounceInImage 0.6s ease-out;

}

/* Hover glow effect */
.submit-button:hover {
  background: linear-gradient(to right, #48b1bf, #06beb6);
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 8px 20px rgba(6, 190, 182, 0.5);

}

/* Click animation */
.submit-button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(6, 190, 182, 0.4);
}

@keyframes bounceIn {
  0% { transform: scale(0.8); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
.spinner-card{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.load{
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 15px 10px green;
  color: green;
  margin-left: 25px;
}
.spinner {
  
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-top: 6px solid #00c853;
  border-bottom: 6px solid #00c853;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 20px #00c853, inset 0 0 10px #00c853;
  position: relative;
  margin: 30px auto;
}
.score-img {
  height: 200px;
  border-radius: 20px;
  margin: 0px;
animation: bounceInImage 0.6s ease-out;
}
.score-img:active {
   transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(6, 190, 182, 0.4);
}
@keyframes bounceInImage {
  0% { transform: scale(0.8); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  to {
    transform: rotate(-360deg);
  }
}
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Styles for tablets */
  .fade-in {
  animation: fadeIn 0.5s ease-in-out;
  background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.fade-in:hover {
  transform: scale(1.01);
}

/* Fade In Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Radio Button Styling */
.label {
  display: block;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid green;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  width: 70%;
}

.label.selected {
  border:0px;
    outline: none;
  background-color: green;
  color: white;
  font-weight: bold;
  transform: scale(1.02);
  box-shadow: 0 0 10px green;
}
.animal-bg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: flex-start;
    animation: bounceIn 0.6s ease-out;
}
.score-display {
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  color: #28a745;
  animation: bounceIn 0.6s ease-out;
  font-weight: bold;
  font-family: cursive;
}
.options-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.back-button{

    animation: bounceIn 0.6s ease-out;
}
.result-card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bounceIn 0.6s ease-out;
}
.quation{
    font-size: 14px;
    font-weight: bold;
}
.previous-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  padding: 10px 20px;
  color: #444;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
/* On click "pop" effect */
.previous-button:active {
  transform: scale(0.95);
  color: red;
}
.submit-button {
  background: linear-gradient(to right, #06beb6, #48b1bf);
  color: white;
  font-size: 18px;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  animation: bounceInImage 0.6s ease-out;

}

/* Hover glow effect */
.submit-button:hover {
  background: linear-gradient(to right, #48b1bf, #06beb6);
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 8px 20px rgba(6, 190, 182, 0.5);

}


/* Click animation */
.submit-button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(6, 190, 182, 0.4);
}

@keyframes bounceIn {
  0% { transform: scale(0.8); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
.spinner-card{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.load{
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 15px 10px green;
  color: green;
  margin-left: 25px;
}
.spinner {
  
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-top: 6px solid #00c853;
  border-bottom: 6px solid #00c853;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 20px #00c853, inset 0 0 10px #00c853;
  position: relative;
  margin: 30px auto;
}
.score-img {
  height: 200px;
  border-radius: 20px;
  margin: 0px;
animation: bounceInImage 0.6s ease-out;
}
.score-img:active {
   transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(6, 190, 182, 0.4);
}
@keyframes bounceInImage {
  0% { transform: scale(0.8); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  to {
    transform: rotate(-360deg);
  }
}
}

@media only screen and (min-width: 1025px) {
  /* Styles for laptops and desktops */
  .fade-in {
  animation: fadeIn 0.5s ease-in-out;
  background: linear-gradient(135deg, #f0f8ff, #e6f7ff);
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 6px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.fade-in:hover {
  transform: scale(1.01);
}

/* Fade In Keyframes */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Radio Button Styling */
.label {
  display: block;
  margin-bottom: 10px;
  padding: 10px 14px;
  border-radius: 8px;
  background-color: #fff;
  border: 1px solid green;
  transition: background-color 0.3s, transform 0.2s;
  cursor: pointer;
  width: 70%;
  margin-left: 10px;
}

.label.selected {
  border:0px;
    outline: none;
  background-color: green;
  color: white;
  font-weight: bold;
  transform: scale(1.02);
  box-shadow: 0 0 10px green;
}
.animal-bg-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start ;
    justify-content: flex-start;
    animation: bounceIn 0.6s ease-out;
}
.score-display {
  font-size: 28px;
  text-align: center;
  margin-top: 40px;
  color: #28a745;
  animation: bounceIn 0.6s ease-out;
  font-weight: bold;
  font-family: cursive;
}
.options-card{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.back-button{

    animation: bounceIn 0.6s ease-out;
}
.result-card{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: bounceIn 0.6s ease-out;
}
.quation{
    font-size: 14px;
    font-weight: bold;
}
.previous-button {
  border: none;
  outline: none;
  background-color: transparent;
  font-size: 25px;
  padding: 10px 20px;
  color: #444;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}
/* On click "pop" effect */
.previous-button:active {
  transform: scale(0.95);
  color: red;
}
.submit-button {
  background: linear-gradient(to right, #06beb6, #48b1bf);
  color: white;
  font-size: 18px;
  padding: 12px 28px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.4s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  animation: bounceInImage 0.6s ease-out;

}

/* Hover glow effect */
.submit-button:hover {
  background: linear-gradient(to right, #48b1bf, #06beb6);
  transform: translateY(-2px) scale(1.02);
  box-shadow: 0 8px 20px rgba(6, 190, 182, 0.5);

}

/* Click animation */
.submit-button:active {
  transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(6, 190, 182, 0.4);
}

@keyframes bounceIn {
  0% { transform: scale(0.8); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
.spinner-card{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.load{
  font-weight: bold;
  font-family: cursive;
  text-shadow: 1px 15px 10px green;
  color: green;
  margin-left: 25px;
}
.spinner {
  
  width: 60px;
  height: 60px;
  border: 6px solid transparent;
  border-top: 6px solid #00c853;
  border-bottom: 6px solid #00c853;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  box-shadow: 0 0 20px #00c853, inset 0 0 10px #00c853;
  position: relative;
  margin: 30px auto;
}
.score-img {
  height: 200px;
  border-radius: 20px;
  margin: 0px;
animation: bounceInImage 0.6s ease-out;
}
.score-img:active {
   transform: scale(0.95);
  box-shadow: 0 4px 8px rgba(6, 190, 182, 0.4);
}
@keyframes bounceInImage {
  0% { transform: scale(0.8); opacity: 0; }
  60% { transform: scale(1.05); opacity: 1; }
  100% { transform: scale(1); }
}
@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinReverse {
  to {
    transform: rotate(-360deg);
  }
}
}
